# Variables de entorno (nunca subir al repo)
.env

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/
env/
.pipenv/

# Pipenv
Pipfile.lock

# IDEs
.vscode/
.idea/
*.swp

# Sistema operativo
.DS_Store
Thumbs.db
